<!-- common-img-bg -->
<section class="login p-fixed d-flex text-center bg-white ">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body shadow-box">
          <form class="md-float-material" [formGroup]="loginForm" (ngSubmit)="login()" #formDir="ngForm" novalidate>
            <div class="text-center">
              <!-- <img src="assets/images/auth/logo-dark.png" alt="logo.png"> -->
              <h3><strong>P</strong>roto<strong>T</strong>ype</h3>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input type="email" class="form-control" formControlName="UserId" id="UserId" placeholder="Enter UserId">
                <span class="md-line"></span>

              </div>
              <div class="input-group" *ngIf="UserId.invalid && formDir.submitted">
                <span class="text-danger" >
                  UserId is required
                </span>
              </div>

              <div class="input-group">
                <input type="password" formControlName="Password" id="Password" class="form-control" placeholder="Enter Password">
                <span class="md-line"></span>

              </div>
              <div class="input-group">
                <span class="text-danger"  *ngIf="Password.invalid && formDir.submitted">
                  Password is required
                </span>

                <span class="text-danger"  *ngIf="errorMessage != ''">
                 {{errorMessage}}
                </span>
              </div>
              <!-- <div class="row m-t-25 text-left">
                <div class="col-sm-7 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>
                </div>
              </div> -->
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" [disabled]="loading" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"> <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login</button>
                </div>
              </div>
              <hr/>
              <!-- <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="bg-blue py-4">
      <div class="row px-3">
          <div class="col-md-12">
              <small class="ml-4 ml-sm-5 mb-2" style="float:right">
                  <strong>Developed By <a href="https://padhyasoft.com/" target="_blank">Padhya Software Technologies</a></strong>
              </small>
              <small class="ml-4 ml-sm-5 mb-2">
                  <strong>Copyright &copy; 2019-2020 Prototype</strong>
              </small>
          </div>
      </div>
  </div>
</footer>


