
<!-- <div class="input-group align-center" *ngIf="Sub_Catg_ID.invalid && formDir.submitted">
  <span class="text-danger align-center" >
    Please select Item
  </span>
</div> -->
<div>
  <div *ngIf="Sub_Catg_ID.invalid && formDir.submitted" class='alert alert-danger'>Please Select Item</div>
  <div *ngIf="Type_ID.invalid && formDir.submitted && Sub_Catg_ID.valid" class='alert alert-danger'>Please Select Type</div>
  <div *ngIf="Brand_ID.invalid && formDir.submitted && Sub_Catg_ID.valid && Type_ID.valid" class='alert alert-danger'>Please Select Brand</div>
  <div *ngIf="UOM.invalid && formDir.submitted && Sub_Catg_ID.valid && Type_ID.valid && Brand_ID.valid" class='alert alert-danger'>Please Select UOM</div>
  <div *ngIf="Qty.invalid && formDir.submitted && Sub_Catg_ID.valid && Type_ID.valid && Brand_ID.valid  && UOM.valid" class='alert alert-danger'>Please Enter Quantity</div>
  <div *ngIf="Price.invalid && formDir.submitted && Sub_Catg_ID.valid && Type_ID.valid && Brand_ID.valid  && UOM.valid && Qty.valid" class='alert alert-danger'>Please Enter Price</div>
  <div *ngIf="Display_Seq_No.invalid && formDir.submitted && Sub_Catg_ID.valid && Type_ID.valid && Brand_ID.valid  && UOM.valid && Qty.valid && Price.valid" class='alert alert-danger'>Please Enter Display Seq No</div>
</div>


  <form [formGroup]="itemForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div>
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Item Name<span class="warningclass">*</span></label>
            <div class="col-sm-4">

                <!-- <ng-select2 [data]="SubCategoryList"
                    [placeholder]="'Demo with options'"
                    ></ng-select2> -->


                    <ng-select formControlName="Sub_Catg_ID" bindLabel="name" placeholder="Select Item" appendTo="body"  id="Sub_Catg_ID">
                      <ng-option *ngFor="let scat of SubCategoryList" [value]="scat.id"> {{scat.name}}</ng-option>
                    </ng-select>
                <!-- <ng-select formControlName="Sub_Catg_ID" [items]="SubCategoryList" bindLabel="name" placeholder="Select Item" appendTo="body"  id="Sub_Catg_ID">   </ng-select> -->
                <!-- <select class="form-control" formControlName="Sub_Catg_ID" id="Sub_Catg_ID" data-placeholder="Pick a Item">
                    <option *ngFor="let scat of SubCategoryList" [value]="scat.id">
                      {{scat.name}}
                    </option>
                  </select> -->
            </div>

            <label class="col-sm-2 col-form-label">Type<span class="warningclass">*</span></label>
            <div class="col-sm-4">
              <ng-select  bindLabel="name" placeholder="Select Type" appendTo="body" formControlName="Type_ID" id="Type_ID">
                <ng-option *ngFor="let item of TypeList" [value]="item.id"> {{item.name}}</ng-option>
                 </ng-select>
                <!-- <select class="form-control" formControlName="Type_ID" id="Type_ID">
                    <option *ngFor="let type of TypeList | async; let i = index" [value]="type.id">
                      {{type.name}}
                    </option>
                  </select> -->
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Brand Name<span class="warningclass">*</span></label>
            <div class="col-sm-4">
              <ng-select  bindLabel="name" placeholder="Select Brand" appendTo="body" formControlName="Brand_ID" id="Brand_ID">
                <ng-option *ngFor="let item of BrandList" [value]="item.id"> {{item.name}}</ng-option>
              </ng-select>
                <!-- <select class="form-control" formControlName="Brand_ID" id="Brand_ID">
                    <option *ngFor="let brand of BrandList | async; let i = index" [value]="brand.id">
                      {{brand.name}}
                    </option>
                  </select> -->
            </div>
            <label class="col-sm-2 col-form-label">UOM<span class="warningclass">*</span></label>
            <div class="col-sm-4">
              <ng-select bindLabel="name" placeholder="Select UOM" appendTo="body" formControlName="UOM" id="UOM">
                <ng-option *ngFor="let item of UOMList" [value]="item.id"> {{item.name}}</ng-option>
              </ng-select>

                <!-- <select class="form-control" formControlName="UOM" id="UOM">
                    <option *ngFor="let uom of UOMList | async; let i = index" [value]="uom.id">
                      {{uom.name}}
                    </option>
                  </select> -->
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Qty<span class="warningclass">*</span></label>
            <div class="col-sm-4">
                <input class="form-control" type="number" formControlName="Qty" id="Qty" >
            </div>
            <label class="col-sm-2 col-form-label">Price<span class="warningclass">*</span></label>
            <div class="col-sm-4">
                <input class="form-control" type="number" formControlName="Price" id="Price" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Display Seq No<span class="warningclass">*</span></label>
            <div class="col-sm-4">
                <input class="form-control" type="number" formControlName="Display_Seq_No" id="Display_Seq_No" >
            </div>
            <label class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-4">
                <!-- <ng-select2 [data]="exampleData"
                    [placeholder]="'Status'"
                    [width]="900"
                    [options]="options"></ng-select2> -->

                    <!-- disabled = "isInserted == 'I'? true : false" -->
                <select class="form-control" formControlName="Status" id="Status" ngModel = "{{SelectedStatus}}" [attr.disabled]="isInserted == 'I' ? 'disabled' : null">
                    <option *ngFor="let st of StatusList; let i = index" [value]="st.id">
                      {{st.name}}
                    </option>
                  </select>
<!--
                  <ng-select [items]="StatusList"
                        bindLabel="name"
                        placeholder="Select Category"
                        appendTo="body"
                        multiple="false"
                        formControlName="Status" [(ngModel)]="selected">
                   </ng-select> -->


                  <!-- <ng-select [items]="StatusList"
                        bindLabel="name"
                        placeholder="Select Category"
                        appendTo="body"
                        formControlName="Status">
                   </ng-select> -->
            </div>
        </div>
    </div>
<br/>
    <hr/>
<div class="text-center">
  <div class="form-group align-center">
    <button type="submit" class="btn btn-success fa fa-check-square-o cursor-pointer"> <span class="font-d"> Save</span></button> &nbsp;
    <button class="btn btn-danger fa fa-remove cursor-pointer" (click)="cancel()"><span class="font-d"> Cancel</span></button>
</div>
</div>

</form>

