<!-- <app-add-edit-item *ngIf="IsAddEdit"></app-add-edit-item> -->

<!-- <app-add-edit-item></app-add-edit-item> -->
<!-- <app-add-edit-item #viewPage [showAddressParam]="false"></app-add-edit-item> -->




<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Item Master'" [classHeader]="true" [blockClass]="'table-border-style'">
      <div class="table-responsive">
        <p>
          <!-- <a class="btn btn-success float-right" [routerLink]="['/add-edit-item']">Add New</a>   -->
          <a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer"
            (click)="openAddEdit()"><span class="font-d"> Add New</span></a>
        </p>
        <br />
        <br />

        <p-table class="" #dt [value]="itemMaster" [(selection)]="selecteditemMaster" dataKey="id" [autoLayout]="true"
          styleClass="p-datatable-d" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
          [globalFilterFields]="['Item_Name','Type_Name','Brand_Name']">

          <ng-template pTemplate="caption">
            <div class="table-header-p ">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input class="p-l-30 form-control" pInputText type="text"
                  (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
              </span>
            </div>
          </ng-template>
          <br />
          <br />
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="Item_Name">Item Name <p-sortIcon field="Item_Name"></p-sortIcon>
              </th>
              <th pSortableColumn="Type_Name">Type Name <p-sortIcon field="Type_Name"></p-sortIcon>
              </th>
              <th pSortableColumn="Brand_Name">Brand Name <p-sortIcon field="Brand_Name"></p-sortIcon>
              </th>
              <th pSortableColumn="UOM">UOM <p-sortIcon field="UOM"></p-sortIcon>
              </th>
              <th pSortableColumn="Qty">Qty <p-sortIcon field="Qty"></p-sortIcon>
              </th>
              <th pSortableColumn="Price">Price <p-sortIcon field="Price"></p-sortIcon>
              </th>
              <th pSortableColumn="StatusDesc">Status <p-sortIcon field="StatusDesc"></p-sortIcon>
              </th>
              <th pSortableColumn="Deleted">IsDeleted <p-sortIcon field="Deleted"></p-sortIcon>
              </th>
              <th>Action </th>
            </tr>
            <tr>

              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Item_Name', 'startsWith')"
                  placeholder="Search by Item" class="form-control">
              </th>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Type_Name', 'contains')"
                  placeholder="Search by Type" class="form-control"> <!--  p-column-filter -->
              </th>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'Brand_Name', 'contains')"
                  placeholder="Search by Brand" class="form-control">
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>

            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-item>
            <tr class="">
              <!-- p-selectable-row  -->

              <td>
                {{item.Item_Name}}
              </td>
              <td>
                <!-- <span class="p-column-title">Type_Name</span> -->
                {{item.Type_Name}}
              </td>
              <td>
                {{item.Brand_Name}}
              </td>
              <td>
                {{item.UOM}}
              </td>
              <td>
                {{item.Qty}}
              </td>
              <td>
                {{item.Price}}
                <!-- <p-progressBar [value]="item.activity" [showValue]="false"></p-progressBar> -->
              </td>
              <td>
                {{item.StatusDesc}}
              </td>
              <td>
                {{item.Deleted}} <span *ngIf="item.Deleted =='Yes'"><button type="button"
                    class="float-right btn btn-success text-white " (click)="activateItem(item.Item_ID)">Make
                    Active</button> </span>
              </td>
              <td>
                <a class="ti-pencil-alt edit" (click)="openEditItem(item.Item_ID)"></a>
                &nbsp;<a class=" ti-trash delete" (click)="deleteItem(item.Item_ID)"></a>
                <!-- &nbsp;<a class=" ti-eye view" (click)="deleteItem(item.Item_ID)"></a> -->
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="9">No items found</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </app-card>
  </div>
</div>






<!-- <div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Item Master'" [classHeader]="true" [blockClass]="'table-border-style'">
      <div class="table-responsive">
        <p>
          <a class="btn btn-success float-right text-white m-b-10 m-r-20 fa fa-plus-circle cursor-pointer" (click)="openAddEdit()"><span class="font-d"> Add New</span></a>
      </p>
        <table class="table table-striped table-bordered dataTable " [mfData]="itemMaster" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
          <tr>
            <th> <mfDefaultSorter by="Item_Name">Item Name</mfDefaultSorter> </th>
            <th>Type Name</th>
            <th>Brand Name</th>
            <th>UOM</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Status</th>
            <th>IsDeleted</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.Item_Name}}</td>
            <td>{{item.Type_Name}}</td>
            <td>{{item.Brand_Name}}</td>
            <td>{{item.UOM}}</td>
            <td>{{item.Qty}}</td>
            <td>{{item.Price}}</td>
            <td>{{item.StatusDesc}}</td>
            <td>{{item.Deleted}} <span *ngIf="item.Deleted =='Yes'"><button type="button" class="float-right btn btn-success text-white " (click) = "activateItem(item.Item_ID)">Make Active</button> </span></td>
            <td>
              <a class="ti-pencil-alt edit" (click)="openEditItem(item.Item_ID)"></a>
              &nbsp;<a class=" ti-trash delete" (click)="deleteItem(item.Item_ID)"></a>
            </td>
          </tr>

          </tbody>
          <tfoot>
            <tr>
                <td colspan="9">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
      </div>
    </app-card>
    </div>
</div> -->
